<div>
  <button class="btn" routerLink="/bewerbungen">Back</button>
</div>

<div class="container">
  <form class="card" [formGroup]="form">

    <div class="form-control" *ngIf="newBewerbung; else showName">
      <label>Firmennamen :</label>
      <input type="text" formControlName="firmName">
    </div>
    <ng-template #showName>
      <h1>Bewerbung bei {{firmenName}}</h1>
    </ng-template>


    <div class="form-control">
      <label>Ansprechpartner:</label>
      <input type="text" formControlName="partner">
    </div>
    <div class="form-control">
      <label>Telefonnummer:</label>
      <input type="text" formControlName="telnummer">
    </div>
    <div class="form-control">
      <label>Adresse:</label>
      <input type="text" formControlName="adresse">
    </div>
    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div class="form-control">
      <label>Zustand:</label>
      <select formControlName="zustand" formControlName="zustand">
        <option value="Bewerben">Bewerben</option>
        <option value="Warten auf Antwort">Warten auf Antwort</option>
        <option value="Positiv">Positiv</option>
        <option value="Abgelehnt">Abgelehnt</option>
      </select>
    </div>
    <div class="form-control">
      <label>Notizen:</label>
      <input type="text" formControlName="notizen">
    </div>
    <div class="form-control">
      <label>BewerbungsDatum:</label>
      <input type="date" formControlName="bewerbungsDatum">
    </div>

    <button class="btn btn-save" type="submit" (click)="save()">Speichern</button>
    <button class="btn btn-danger" (click)="delete()">Löschen</button>
  </form>


</div>
