<nav class="navbar">
  <h1>
    <a href="#">Meine Bewerbung</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/bewerbungen">Bewerbungen</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    <li *ngIf="auth; else logout">
      <button class="btn" routerLink = "/login">Login</button>
    </li>
    <ng-template #logout>
      <li >
        <button class="btn" (click)="auth.logout()">Logout</button>
      </li>
    </ng-template>
  </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>



